<html>
  <head>
    <title>This is the title</title>
    <link rel="stylesheet" href="public/styles.css" >
  </head>

  <body>
    <div class="main-content">
      <%- include('./partials/header.ejs') %>
      <p><%= errorMessage %></p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>