<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="public/styles.css" >
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="main-content">
            <%- include('./partials/header.ejs') %>
            <p>This site was created by Praveen Kumar. It uses data from https://weatherstack.com/ !</p>
            <img class="profile" src="public/avatar.png">
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>