<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="public/styles.css" >
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="main-content">
            <%- include('./partials/header.ejs') %>
            <p><%= helpText %></p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>