body {
    font-family: arial;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile {
    width: 250px;
}

.main-content {
    flex-grow: 1;
    background-color: rgb(202, 193, 239);
    padding: 30px;
}

footer {
    color: rgb(116, 123, 125);
    border-top: 1px solid rgb(116, 123, 125);
    padding: 30px;
    background-color: rgb(15, 15, 15);
    
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 54px;
    margin-bottom: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

h2 {
    margin-bottom: 0;
}

nav {
    display: inline;
    padding: 15px 0;
    background-color: rgb(128, 79, 241);
    
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(241, 217, 123);
    padding: 15px;
    margin: 0;
}

a:hover {
    background-color: rgb(151, 122, 245);
    color: white;
}